/* App.css */

/* Ensure the entire app is at least the full height of the viewport */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.min-vh-100 {
  min-height: 100vh;
}

/* Styling for the main content to push footer to the bottom */
.main-content {
  flex: 1;
}

/* Additional global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color:black;
  color: white;
  padding: 1rem 0;
  text-align: center;
}
